$blue-background: rgba(0, 0, 100, 0.7);
$turquoise-background: rgba(0, 135, 104, 0.7);
$red-background: rgba(248, 68, 68, 0.7);
$green-background: rgba(0, 106, 0, 0.7);
$error-background: rgba(135, 12, 12, 0.8);
$white: #bbbbbb;

@mixin preGameProperties($backgroundColor) {
  background: $backgroundColor;
  height: 100vh;
  padding: 25px;
}

@mixin gameProperties($backgroundColor) {
  background: $backgroundColor;
  border: 2px solid $white;
  border-radius: 5px;
  padding: 25px;
}

html {
  height: 100%;
  color: $white !important;
}

body {
  color: $white !important;
  text-align: center;

  background-image: url("../images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
}

button {
  background-color: $white !important;
  margin: 10px !important;

  span {
    color: black;
  }
}

p, h1 {
  color: $white !important;
}

.Modal > p {
  color: black;
}

.Premium {
  @include preGameProperties($green-background);
}

.NonPremium {
  @include preGameProperties($red-background);
}

.questionTemplate {
  @include gameProperties($blue-background);
}

.resultsTemplate {
  @include gameProperties($turquoise-background);
}

.errorTemplate {
  @include gameProperties($error-background)
}