$blue-background: rgba(0, 0, 100, 0.7);
$turquoise-background: rgba(0, 135, 104, 0.7);
$red-background: rgba(248, 68, 68, 0.7);
$white: #bbbbbb;

@mixin gameProperties($backgroundColor) {
  background: $backgroundColor;

  border: 2px solid $white;
  border-radius: 5px;
  padding: 25px;
}

@mixin preGameProperties($backgroundColor) {
  background-color: $backgroundColor;
  height: 100vh;
  padding: 25px;
}

body {
  color: $white;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
}

// AM todo - make sure blue background goes away when clicking button to play game
.Premium {
  @include preGameProperties($blue-background);
}

.NonPremium {
  @include preGameProperties($red-background);
}

.questionTemplate {
  @include gameProperties($blue-background);
  
  button {
    width: 300px;
    height: 50px;
    margin: 5px 0px;
  };
}

.resultsTemplate {
  @include gameProperties($turquoise-background);
}

/*
#theGameView {
  position: relative;
  margin: auto;
  width: 85%;
  top: 15px;
}
*/