$blue-background: rgba(0, 0, 100, 0.7);
$turquoise-background: rgba(0, 135, 104, 0.7);
$red-background: rgba(248, 68, 68, 0.7);
$teal-background: rgba(36, 104, 107, 0.7);
$error-background: rgba(135, 12, 12, 0.8);
$dark-white: #a9a9a9;
$white: #b8b8b8;

@mixin preGameProperties($backgroundColor) {
  background: $backgroundColor;
  height: 100vh;
  padding: 25px;
}

@mixin gameProperties($backgroundColor) {
  background: $backgroundColor;
  border: 2px solid $dark-white;
  border-radius: 5px;
  padding: 25px;
}

html {
  height: 100%;
}

body {
  color: $dark-white !important;
  text-align: center;

  background-image: url("../images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
}

th {
  padding: 0px !important;
}

button {
  background-color: $white !important;
  margin: 10px !important;

  span {
    color: black;
  }
}

p, h1, a {
  color: $dark-white !important;
}

.btn-success {
  position: relative;
  top: 25px;
  background-color: green !important;
  span {
    color:  !important;
  }
}

#btn-easy-difficulty {
  background-color: green !important;
}

#btn-medium-difficulty {
  background-color: yellow !important;
}

#btn-hard-difficulty {
  background-color: red !important;
}

.Modal > p {
  color: black;
}

.Premium {
  @include preGameProperties($teal-background);
}

.NonPremium {
  @include preGameProperties($red-background);
}

.questionTemplate {
  @include gameProperties($blue-background);
}

.resultsTemplate {
  @include gameProperties($turquoise-background);
}

.errorTemplate {
  @include gameProperties($error-background)
}

@media only screen and (max-width: 635px) {
  h1 {
    font-size: 35px !important;
  }
}